:root {
  --bg-color: hsl(192, 100%, 11%);
  --panel-bg-color: hsl(192 96% 9%);
  --text-color: hsl(194, 14%, 40%);
  --text-color-strong: hsl(194, 14%, 50%);
  --link-color: hsl(205, 69%, 49%);
  --link-color-hover: hsl(205, 69%, 59%);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    /* for .sticky */
    width: max-content;
}
h1, h2, h3, h4, h5, h6, strong {
    color: var(--text-color-strong);
}
a {
    color: var(--link-color);
    text-decoration: none;
}
a:visited {
    color: var(--link-color)
}
a:active, a:hover {
    color: var(--link-color-hover)
}
.header {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}
.header>a {
    display: block;
}
a.github {
    width: 1.9em;
    height: 1.9em;
}
a.github svg {
    fill: var(--link-color);
}
a.github:active svg, a.github:hover svg {
    fill: var(--link-color-hover);
}
.temps {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.temp {
    width: 30px;
    flex-grow: 1;
}
.temp-label {
    width: 20px;
}
.location {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.sticky {
    width: max-content;
    position: sticky;
    left: 8px;
}
.days {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
/* hack: make sure body's right padding shows when content scrolls */
.days::after {
    content: "";
    flex: 0 0 0.01px;
}
.day {
    background-color: var(--panel-bg-color);
    border-radius: 5px;
    padding: 5px;
    min-width: 100px;
    width: 140px;
}
.day hr {
    border-style: solid;
	border-width: 1px 0 0 0;
	border-color: hsla(0, 0%, 100%, 0.1);
	margin: 4px 0 4px 0;
}
.day.weekend .time {
    color: var(--text-color-strong);
    font-weight: bold;
}
.time {
    text-wrap: nowrap;
    display: flex;
    justify-content: space-between;
}
.cold {
    color: white;
}
.cool {
    color: cyan;
}
.good {
    color: #99ff00;
}
.warm {
    color: orange;
}
.hot {
    color: red;
}
.wet {
    color: cyan;
}

#freshening {
    display: none;
}

.animated-ellipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  width: 0px;
  content: "\2026";
  animation: ellipsis steps(4,end) 1000ms infinite;
}

@keyframes ellipsis {
  to {
    width: 0.9em;
  }
}